version: "3.8"
services:
    traefik:
        container_name: traefik
        image: traefik:v2.3
        restart: unless-stopped
        ports:
            - 80:80
            - 443:443
        expose:
            - "8080"
            - "8082"
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - ./traefik:/etc/traefik
        networks:
            - web
        labels:
            - "traefik.enable=true"
            - "traefik.http.routers.api.rule=Host(`traefik.2.sushii.xyz`)"
            - "traefik.http.routers.api.service=api@internal"
            - "traefik.http.routers.api.middlewares=auth@file"
            - "traefik.http.routers.api.entrypoints=secure"
            - "traefik.http.routers.api.tls.certresolver=acme"
    grafana:
        image: grafana/grafana:7.1.5
        container_name: grafana
        expose:
            - "3000"
        volumes:
            - ~/docker/grafana:/var/lib/grafana
        networks:
            - web
        env_file:
            - .env.grafana
        labels:
            - "traefik.http.routers.grafana.rule=Host(`grafana.2.sushii.xyz`)"
            - "traefik.http.routers.grafana.entrypoints=secure"
            - "traefik.http.routers.grafana.tls.certresolver=acme"
    prometheus:
        image: prom/prometheus:v2.20.1
        container_name: prometheus
        expose:
            - "9090"
        volumes:
            - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
        networks:
            - sushii_net
            - web
        labels:
            - "traefik.http.routers.prometheus.rule=Host(`prometheus.2.sushii.xyz`)"
            - "traefik.http.routers.prometheus.entrypoints=secure"
            - "traefik.http.routers.prometheus.tls.certresolver=acme"
            - "traefik.http.routers.prometheus.middlewares=auth@file"
    cadvisor:
        image: gcr.io/google-containers/cadvisor:latest
        container_name: cadvisor
        privileged: true
        devices:
            - /dev/kmsg
        expose:
            - "8080"
        volumes:
            - /:/rootfs:ro
            - /var/run:/var/run:rw
            - /sys:/sys:ro
            - /var/lib/docker/:/var/lib/docker:ro
            - /dev/disk/:/dev/disk:ro
        networks:
            - web
        labels:
            - "traefik.http.routers.cadvisor.rule=Host(`cadvisor.2.sushii.xyz`)"
            - "traefik.http.routers.cadvisor.entrypoints=secure"
            - "traefik.http.routers.cadvisor.tls.certresolver=acme"
            - "traefik.http.routers.cadvisor.middlewares=auth@file"
    node_exporter:
        image: quay.io/prometheus/node-exporter
        container_name: node_exporter
        pid: "host"
        command: "--path.rootfs=/host"
        expose:
            - "9100"
        volumes:
            - /:/host:ro,rslave
        networks:
            - web
        labels:
            - "traefik.enable=false"
    postgres:
        image: postgres:12
        container_name: postgres
        restart: unless-stopped
        env_file:
            - .env
        volumes:
            - ~/docker/postgres:/var/lib/postgresql/data
        networks:
            - sushii_net
        labels:
            - traefik.enable=false
    postgres_backups:
        image: prodrigestivill/postgres-backup-local
        restart: unless-stopped
        user: postgres:postgres
        volumes:
            - ~/pgbackups:/backups
        depends_on:
            - postgres
        env_file:
            - .env
        environment:
            - POSTGRES_HOST=postgres
            - POSTGRES_EXTRA_OPTS=-Z9 --schema=public --blobs
            - SCHEDULE=@daily
            - BACKUP_KEEP_DAYS=7
            - BACKUP_KEEP_WEEKS=4
            - BACKUP_KEEP_MONTHS=6
            - HEALTHCHECK_PORT=8080
        networks:
            - sushii_net
        labels:
            - traefik.enable=false
    sushii-api:
        image: ghcr.io/sushiibot/sushii-api:latest
        container_name: sushii-api
        restart: unless-stopped
        depends_on:
            - postgres
        expose:
            - "8080"
        env_file:
            - .env
        networks:
            - sushii_net
            - web
        labels:
            - "traefik.http.routers.sushii-api.rule=Host(`api.sushii.xyz`)"
            - "traefik.http.routers.sushii-api.entrypoints=secure"
            - "traefik.http.routers.sushii-api.tls.certresolver=acme"
    sushii:
        image: ghcr.io/sushiibot/sushii-2:latest
        container_name: sushii
        restart: unless-stopped
        depends_on:
            - postgres
        expose:
            - "9888"
        logging:
            driver: json-file
            options:
                max-size: "10m"
                max-file: "3"
                mode: non-blocking
                max-buffer-size: 4m
        env_file:
            - .env
        networks:
            - sushii_net
        labels:
            - "traefik.enable=false"
    sushii-image-server:
        image: ghcr.io/sushiibot/sushii-image-server:latest
        container_name: sushii-image-server
        restart: unless-stopped
        init: true
        cap_add:
            - SYS_ADMIN
        expose:
            - "3000"
        volumes:
            - ~/sushii-image-server/static:/app/static:ro
            - ~/sushii-image-server/templates:/app/templates:ro
        networks:
            - sushii_net
        labels:
            - "traefik.enable=false"
networks:
    web:
        internal: false
    sushii_net:
        external: false
