version: "3.8"
services:
    plausible_mail:
        image: bytemark/smtp
        container_name: plausible_mail
        restart: unless-stopped
        env_file:
            - plausible.env
        networks:
            - plausible_net
    plausible_db:
        image: postgres:12
        container_name: plausible_db
        restart: unless-stopped
        volumes:
            - ~/plausible/postgres:/var/lib/postgresql/data
        env_file:
            - plausible.env
        networks:
            - plausible_net
    plausible_events_db:
        image: yandex/clickhouse-server:latest
        container_name: plausible_events_db
        restart: unless-stopped
        volumes:
            - ~/plausible/event-data:/var/lib/clickhouse
            # - ./clickhouse/clickhouse-config.xml:/etc/clickhouse-server/config.d/logging.xml:ro
            # - ./clickhouse/clickhouse-user-config.xml:/etc/clickhouse-server/users.d/logging.xml:ro
        ulimits:
            nofile:
                soft: 262144
                hard: 262144
        networks:
            - plausible_net
    plausible:
        image: plausible/analytics:latest
        container_name: plausible
        command: sh -c "sleep 10 && /entrypoint.sh db createdb && /entrypoint.sh db migrate && /entrypoint.sh db init-admin && /entrypoint.sh run"
        restart: unless-stopped
        depends_on:
            - plausible_db
            - plausible_events_db
            - plausible_mail
            - geoip
        expose:
            - "8000"
        env_file:
            - plausible.env
        environment:
            - GEOLITE2_COUNTRY_DB=/geoip/GeoLite2-Country.mmdb
        volumes:
            - ~/plausible/geoip:/geoip:ro
        networks:
            - plausible_net
            - web
        labels:
            - "traefik.docker.network=sushii-2_web"
            - "traefik.http.routers.plausible.rule=Host(`analytics.sushii.xyz`)"
            - "traefik.http.routers.plausible.entrypoints=secure"
            - "traefik.http.routers.plausible.tls.certresolver=acme"
    geoip:
        image: maxmindinc/geoipupdate
        container_name: plausible_geoip
        environment:
            - GEOIPUPDATE_EDITION_IDS=GeoLite2-Country
            - GEOIPUPDATE_FREQUENCY=168 # update every 7 days
        env_file:
            - plausible.env
        volumes:
            - ~/plausible/geoip:/usr/share/GeoIP
networks:
    web:
        external:
            name: sushii-2_web
    plausible_net:
        external: false
