global:
    scrape_interval: 15s

scrape_configs:
    - job_name: "prometheus"
      static_configs:
          - targets: ["localhost:9090"]

    - job_name: "sushii"
      static_configs:
          - targets: ["sushii:9888"]

    - job_name: "sushii site"
      static_configs:
          - targets: ["sushii-site:8000"]

    - job_name: "cadvisor"
      static_configs:
          - targets: ["cadvisor:8080"]

    - job_name: "Node Exporter"
      static_configs:
          - targets: ["node_exporter:9100"]

    - job_name: "PostgreSQL"
      static_configs:
          - targets: ["postgres_exporter:9187"]
