name: Docker

on:
    push:
        tags:
            - v*

env:
    IMAGE_NAME: ghcr.io/drklee3/sushii-2

jobs:
    push:
        runs-on: ubuntu-latest
        if: github.event_name == 'push'
        steps:
            - uses: actions/checkout@v2

            - name: Docker meta
              id: docker_meta
              uses: crazy-max/ghaction-docker-meta@v1
              with:
                  images: ${{ env.IMAGE_NAME }}
                  tag-match: '\d{1,3}.\d{1,3}.\d{1,3}'

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v1

            - name: Login to DockerHub
              uses: docker/login-action@v1
              with:
                  registry: ghcr.io
                  username: ${{ github.repository_owner }}
                  password: ${{ secrets.CR_PAT }}

            - name: Build and push image to GitHub Packages
              uses: docker/build-push-action@v2
              with:
                  context: .
                  file: ./Dockerfile
                  pull: true
                  push: true
                  tags: ${{ steps.docker_meta.outputs.tags }}
                  cache-from: type=registry,ref=drklee3/sushii-2:latest
                  cache-to: type=inline
                  labels: |
                      org.opencontainers.image.source=${{ github.event.repository.html_url }}
                      org.opencontainers.image.created=${{ steps.set_tags.outputs.created }}
                      org.opencontainers.image.revision=${{ github.sha }}
